.navbar {
    background-color: #171717;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    z-index: 50;
}

.navbar__logo h2{
    color: #f4f4f4;
    font-size: 1.4rem;
    cursor: pointer;
}

.navbar__links{
    list-style: none;
    display: flex;
    align-items: center;
}

.navbar__links > li{
    padding-left: 1.5rem;
}

.navbar__links> li > a{
    text-decoration: none;
    color: #f4f4f4;
    display: flex;
    align-items: center;
}

.navbar__links > li > a >span {
    margin-left: 8px;
    display: flex;
    align-items: center;
}

.cartlogo__badge{
   background-color: #f4f4f4;
   width: 30px;
   height: 30px;
   border-radius: 50%;
   color: #171717;
   margin-left: 8px;
   display: flex;
   justify-content: center;
   text-align: center;
   align-items: center;
   font-size: 1.1rem;
}

.hamburger__menu {
    width: 30px;
    height: 30px;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.hamburger__menu > div{
    width: 100%;
    background-color: #f4f4f4;
    height: 3px;
}

@media(max-width:960px){
    .navbar__links{
        display: none;
    }

    .hamburger__menu{
        display: flex;
    }
}

@media (max-width:500px){
    .navbar__logo h2{
        font-size: 1rem;
    }
}
